{% extends 'base.html' %}
{% block content %}

    <div class="container my-5 pb-5 pt-5 container_edit bg-white text-dark">
        <h3>Notas Geradas</h3>
        <p>Todas as notas geradas recentemente</p>

        <div class="table-responsive text-dark">
            <table id="tbNotasGeradas" class="table table-striped">
                <thead>
                    <tr class="text-dark">
                        <th>Código de Serviço</th>
                        <th>Discriminação</th>
                        <th>Valor do Serviço</th>
                        <th>Valor líquido do Serviço</th>
                        <th>Data de Geração</th>
                        <th>Status da Nota</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>                    
                    {% for notaGerada in notasGeradas %}
                        <tr class="text-dark">
                            <td>{{ notaGerada.cdServico }}</td>
                            <td>{{ notaGerada.dsDiscriminacao }}</td>
                            <td>{{ notaGerada.vrServico }}</td>
                            <td>{{ notaGerada.vrLiquido }}</td>
                            <td>{{ notaGerada.dtEmissao }}</td>
                            <td>{{ notaGerada.dsStatus }}</td>                                                        
                            <td class="botao"> <div id="btEnviarJson" data-id="{{ notaGerada.idNFE }}" title="Enviar JSON"  ><i class="fa fa-arrow-alt-circle-right pe-none"></i> </div> </td>
                            <td class="botao"> <div id="btConsulta" data-id="{{ notaGerada.idNFE }}" data-idretorno="{{ notaGerada.idRetorono }}" title="Pesquisar situação"><i class="fa fa-search"></i> <i class="fa fa-chevron-right" style="font-size:  12px;"></i> <i class="fa fa-file-excel"></i></div> </td>
                            <td class="botao"> <div id="btBaixarPDF" data-id="{{ notaGerada.idNFE }}" data-idretorno="{{ notaGerada.idRetorono }}" title="Baixar PDF"><i class="fas fa-file-pdf"></i></div> </td>
                            <td class="botao"> <div id="btBaixarXML" data-id="{{ notaGerada.idNFE }}" data-idretorno="{{ notaGerada.idRetorono }}" title="Baixar XML"><i class="fa fa-cloud-download-alt"></i></div> </td>
                            <td class="botao"> <div id="btExcluirNota" class="" data-id="{{ notaGerada.idNFE }}" data-idretorno="{{ notaGerada.idRetorono }}" title="Excluir Nota"><i class="fa fa-times"></i></div> </td>
                        </tr>
                    {% endfor %}                        
                </tbody>
            </table>
        </div>
    </div>

{% include 'modalEnviarNota.html' %}
{% endblock content %}