
{% extends "base.html" %}


{% block content %}
    <div class="container my-5 pb-5 pt-5 text-dark container_edit">
        <span class="background_text">GERADOR</span>
        <span class="background_text">DE</span>
        <br><br><br>
        <span class="background_text">NOTA</span>
        <span class="background_text">FISCAL</span>    
        
        <p id="slogan" class="background_text" style="width: 50%;">UMA MANEIRA SIMPLIFICADA DE TIRAR NOTAS FISCAIS</p>    
    </div>
{% endblock %}
    