<!-- <div class="modal fade" id="modalEnviarNota" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Enviar Nota Fiscal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    {% csrf_token %}
                    <div class="row">
                        
                        {% for field in form %}
                            <div class="col-md-6 p-3">
                                <div class="form-group input-group">
                                    <span class="input-group-text">
                                        {{ field.label_tag }}
                                    </span>
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}                            
                    </div>                 
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btEnviarNota">Enviar</button>
            </div>
        </div>
    </div>
</div> -->

<div class="modal fade" id="modalEnviarNota" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confimar envio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Confirmar Envio?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btEnviarNota">Enviar</button>
            </div>
        </div>
    </div>
</div>